<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block subtitle %}Home{% endblock %} - Upsilon Initiative</title>
        <link rel="icon" href="{{ url_for('static', filename='upsilon.png') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <nav class="nav-extended">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Upsilon Initiative</a>
                </div>
                <div class="nav-content center">
                    <ul class="tabs tabs-transparent">
                        {# need target=_self or else materialize eats the link #}
                        <li class="tab"><a {% if(tab==0) %}class="active"{% endif %} target="_self" href="/">Home</a></li>
                        <li class="tab"><a {% if(tab==1) %}class="active"{% endif %} target="_self" href="/download/">Download</a></li>
                        {% if discord_auth %}
                        <li class="tab"><a {% if(tab==2) %}class="active"{% endif %} target="_self" href="/submissions/">Submissions</a></li>
                        <li class="tab"><a {% if(tab==3) %}class="active"{% endif %} target="_self" href="/submit/">Submit</a></li>
                        <li class="tab right"><a {% if(tab==4) %}class="active"{% endif %} target="_self" href="/signout/">Sign out</a></li>
                        {% else %}
                        <li class="tab"><a {% if(tab==5) %}class="active"{% endif %} target="_self" href="/discord/login">Sign in to submit crafts</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main id="main-element" class="container section">
            {% block main %}
            {% endblock %}
        </main>
    <script>M.AutoInit()</script>
    </body>
</html>
