{% extends "base.html" %}
{% block subtitle %}Download crafts{% endblock %}

{% block main %}
<script>ns.setBodyData({{ body_dict|tojson }})</script>
<div>Welcome to the downloads page, where you can download savefiles containing submissions.
    All approved submissions around the body you choose are included. There's also a checkbox
    to include crafts in sub-bodies. For example, if you choose Kerbin and include sub-bodies,
    crafts around the Mun and Minmus will be included. This also means you can download all crafts
    by choosing the Sun and enabling sub-bodies.
</div>
<br>
<select id="body_selector" class="craft_select" onchange="ns.bodyDetails()" onload="ns.bodyDetails()">
    <option value="" disabled selected>---Select a body---</option>
    {% for body_name in body_dict %}
    <option value="{{ body_name }}">{{ body_name }}</option>
    {% endfor %}
</select>
<p>Limit maximum craft size</p>
<select id="size_limit_selector" onchange="ns.bodyDetails()">
    {% for limit, default in size_limits.items() %}
    <option value="{{ limit }}" {% if default %}selected {% endif %}>{{ limit }}</option>
    {% endfor %}
</select>
<p>
<label>
    <input type="checkbox" class="filled-in" id="include_subbodies" onclick="ns.bodyDetails()">
    <span>Include crafts around all bodies within its SOI</span>
</label>
</p>
<div id="vessel_details">
    <div>Number of crafts in savefile: <span id="n_crafts"></span>
</div>
<br>
<button id="download_button" class="btn" onclick="ns.downloadSaveFile()">Download</button>
<span>Status: </span>
<span id="download_status">Idle</span>
</div>
{% endblock %}
