{% extends "base.html" %}

{% block main %}
<h3>Welcome to the Upsilon Initiative</h3>
<div>Upsilon is a successor to the original Sigma Initiative, which ended up being too 
    time consuming for Stratz to handle on his own. Having to filter through submissions manually,
    checking whether they were valid and categorising them just took too long. The idea behind Upsilon
    is that it is all automated as much as possible, leaving only validation to do manually.
    Upsilon implements community voting to approve submissions, so all staff need to do is keep
    the website in check.
    <br>
    <br>
    This way, Upsilon should be fully sustainable and a project that can we can enjoy without the hassle :)
    <br>
    <br>
    We've reached the end of the stock system, so all bodies are now open!
</div>
<br>
{% if not discord_auth %}
<button class="btn" onclick="ns.discordLogin()">Log in with discord</button>
{% else %}
<div>Signed in as {{ discord_name }}</div>
{% endif %}
{% endblock %}
