{% extends "base.html" %}
{% block subtitle %}Submission mods{% endblock %}

{% block main %}
<span>Notes: </span>
{% if "version" in warnings["settings"] %}
<br>
<span>- KSP out of date, but is on the same major and minor release as latest</span>
{% endif %}
{% if "difficulty" in warnings["settings"] %}
<br>
<span>- The game was not set to normal difficulty</span>
{% endif %}
{% if not warnings["settings"] %}
<span>Nothing of note</span>
{% endif %}
{% if warnings["mods"] %}
<div>Mod matrix: </div>
<table>
    <tr>
        <th>Name</th>
        <th>Enabled</th>
        <th>Level</th>
    </tr>
{% for mod, mod_data in warnings["mods"].items() %}
    <tr>
        <th>{{ mod }}</th>
        <th>{{ mod_data["enabled"] }}</th>
        <th>{{ mod_data["level"] }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
<div>No mods present (active or inactive)</div>
{% endif %}
{% endblock %}