{% extends "base.html" %}
{% block subtitle %}Submit{% endblock %}

{% block main %}
<div id="upload">
    <h4>Upload a savefile containing your upsilon submission</h4>
    <span>You can upload a quicksave or the main savefile (persistent.sfs)</span>
    <br>
    <span>Savefiles can be found under</span>
    <br>
    <span class="os_path"><i>[Your KSP path]</i>\saves\<i>[Name of the game]</i>\<i>[Name of the save].sfs</i></span>
    <br>
    <br>
    <div id="upload_container">
        <input id="upload_sfs" type="file" accept=".sfs" ondrop="ns.onNewFile(event)" onchange="ns.onNewFile(event)">
        <span>Currently selected: </span>
        <span id="upload_file_selected">Nothing</span>
        <br>
        <span>Status: </span>
        <span id="file_status">Idle</span>
        <div id="file_progress_container" style="display: none">
            <span>Progress: </span>
            <progress value="0" max="100" id="file_progress"></progress>
        </div>
    </div>
    <br>
    <button class="btn" onclick="ns.onSubmitSavefile()">Submit savefile</button>
</div>
{% endblock %}

