{% extends "base.html" %}
{% block subtitle %}Submissions{% endblock %}

{% block main %}
<script>ns.setCraftData({{ craft_dict|tojson }})</script>
<h4>Welcome to the submissions page</h4>
<div>Here you can review your submissions</div>
<br>
<select id="craft_selector" class="craft_select" onchange="ns.craftDetails()" onload="ns.craftDetails()">
    <option value="" disabled selected>---Select a craft---</option>
    {% for name, craft in craft_dict.items() %}
    <option value="{{ name }}">{{ name }} : {{ craft["upsilon_name"] }}</option>
    {% endfor %}
</select>
<br>
<h5>Vessel details</h5>
<br>
<div id="vessel_details">
    <div>Name: <span id="vessel_name"></span></div>
    <div>Upsilon categorisation: <span id="vessel_upsilon_name"></span></div>
    <div>Vessel location: <span id="vessel_location"></span></div>
    <a id="vessel_images_link" href=""></a>
    <a id="vessel_mods_link" href=""></a>
    <div>Votes: <span id="vessel_votes"></span></div>
    <div>Approved: <span id="vessel_approved"></span></div>
</div>
<br>
<button class="btn" onclick="ns.unhide('rename_craft')">Rename craft</button>
<button class="btn" onclick="ns.unhide('screenshot_upload')">Reupload screenshots</button>
<button class="btn" onclick="ns.deleteSubmission()">Delete submission</button>
<br>
<br>
<div id="rename_craft" style="display: none;">
    <span>New craft name: <input id="vessel_new_name" type="text"></span>
    <button class="btn" onclick="ns.renameCraft()">Submit</button>
</div>
<br>
<div id="screenshot_upload" style="display: none;">
    <span>Screenshot uploads (max 8MB per screenshot, 50MB total): </span>
    <span id="n_screenshots">0</span>
    <input type="file" id="upload_screenshot" accept="image/png,image/jpeg" ondrop="ns.onNewScreenshot(event);" onchange="ns.onNewScreenshot(event);" multiple>
    <span>Screenshots valid: </span>
    <span id="screenshots_valid">No</span>
    <button class="btn" onclick="ns.onSubmitScreenshot(true);"> Submit </button>
    <progress style="display: none;" value="0" max="100" id="file_progress"></progress>
</div>
{% endblock %}
